@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
  color-adjust: exact !important;                 /* Firefox 48 – 96 */
  print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
}


@page {
  size: A4 portrait;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0;
}

@page :footer {
    display: none
}

@page :header {
    display: none
}

@media print {
  h1,
  h2,
  h3,
  h4,
  h5 {
    break-after: avoid;
  }

  table,
  figure {
    break-inside: avoid;
  }

  section.page {
    break-inside: avoid;
  }
}
/* @media screen {
  * {
    outline: 2px solid red;
  }
} */